.about-page {
  /* border: 1px solid red; */
  padding-top: 80px;
  color: #555;
}

.about-page-nav-container {
  /* outline: 1px solid red; */
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.page-title {
  /* outline: 1px solid red; */
  background-color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title p {
  font-size: 2rem;
  color: #63cfde;
  font-family: cursive;
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
}
.page-title p span {
  color: #ccc;
  font-size: 4rem;
  /* outline: 1px solid red; */
}

.about-page-main {
  margin: 0rem 2rem 0 2rem;
  padding: 2rem;
  /* border: 1px solid red; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  margin: 2rem;
}
.about-page-main p {
  margin-bottom: 2rem;
}
.about-page-main p span {
  font-weight: 600;
}
.about-page-main ul {
  list-style: none;
  list-style-position: inside;
}
.about-page-main ul li {
  /* outline: 1px solid red; */
  /* display: flex;
  align-items: center; */
  text-decoration: underline;
  margin-bottom: 1rem;
  text-decoration-thickness: 0.4rem;
  text-decoration-color: #63cfde;
}
