nav {
  position: relative;
  background-color: #333;
  color: #ddd;
}
.nav-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding: 1rem;
}
.menu-items {
  position: absolute;
}
