.projects-page {
  background-color: #ccc;
  padding-top: 80px;
}
.projects-page-nav-container {
  /* outline: 1px solid red; */
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.page-title {
  /* outline: 1px solid red; */
  background-color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title p {
  font-size: 2rem;
  color: #63cfde;
  font-family: cursive;
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
}
.page-title p span {
  color: #ccc;
  font-size: 4rem;
  /* outline: 1px solid red; */
}
.projects {
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 100px);
  width: fit-content;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
}

.project-card {
  background-color: #333;
  color: #ccc;
  opacity: 0.8;
  width: 25rem;
  height: 25rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.09);
}

.project-card p:first-child {
  color: #63cfde;
}

.project-card p:nth-of-type(2) {
  font-family: cursive;
}
.project-links {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.project-links a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.project-links a:first-of-type {
  background-color: #555;
  color: var(--light);
  padding: 1rem 3rem;
}
.project-links a:first-of-type:active {
  opacity: 0.8;
}
.project-links a:last-of-type {
  background-color: transparent;
  outline: 1px solid #444;
  color: #000;
  padding: 1rem 1.8rem;
}
.project-links a:last-of-type:active {
  background-color: #333;
  opacity: 0.8;
  color: var(--white);
}
@media (min-width: 560px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 830px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
