.links {
  display: flex;
  justify-content: space-around;
  background-color: #ddd;
  padding: 1rem 0;
}
.links div {
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
  padding: 1.5rem;
  cursor: pointer;
  color: #ddd;
}
.footer-link {
  font-size: 50px;
}
