/* // fonts */
:root {
  --poppins: "Poppins", sans-serif;
  /* // colors */
  --dark: "#333";
  --light: #ddd;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  /* color: var(--light); */
}
