/* // fonts */
:root {
  --poppins: "Poppins", sans-serif;
  /* // colors */
  --dark: "#333";
  --light: #ddd;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* //Mobile-first styles */
html {
  font-size: 62.5%;
  /* // color: $light;
  // footer support
  // position: relative;
  // min-height: 100%;
  // border: 10px solid red; */
}
body {
  color: var(--light);
}
